<%= image_tag("jeju_profile.jpg", size: "360x480") %>
<br/>
<h1>Name: </h1>
<%= @person.myname %>
<br/>
<h1>Where I'm From: </h1>
<%= @person.where %>
<br/>
<h1>School Year: </h1>
<%= @person.school_year%>
<br />
<h1>Fun fact: </h1>
<%= @person.fun_fact %>
<br />
<h1>What I'm excited for about this class: </h1>
<%= @person.excited%>
<br />